<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Server=jpetesql;Initial Catalog=sarac;User Id=limb3;Password=;Convert Zero Datetime=True;Connect Timeout=200;default command timeout=200;" providerName="MySql.Data.MySqlClient"/>
    <add name="SQLConn" connectionString="Data Source=MYPENM0ESSQL03;Initial Catalog=SARAC;User Id=pen_atrec_usr;Password=pen_atrec_usr;pooling='false'" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
